%title= title
= csrf_meta_tags
= csp_meta_tag
= render 'meta_tags'
-# = favicon_link_tag "cloak_policy/extension_icons/48.png"
= stylesheet_link_tag    'cloak_policy/application', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'cloak_policy/application', 'data-turbolinks-track': 'reload'