.be-left-sidebar
  .left-sidebar-wrapper
    .left-sidebar-spacer
      .left-sidebar-scroll
        .left-sidebar-content
          %ul.sidebar-elements
            %li.divider
              %br
              Admin Menu
              = material_icon('chevron-down')
            %li.parent{ class: ('open' if controller_name.eql?('platforms') )}
              = link_to platforms_path do
                = material_icon("share")
                %span Platforms
              %ul.sub-menu

                - CloakPolicy::Platform.all.each do |svc|
                  %li.parent{ class: ('open' if svc.id.to_s.eql?(params[:id]))}
                    = link_to svc do
                      = material_icon(svc.icon, '', icon_color(svc))
                      = svc.name
                    %ul.sub-menu
                      %li
                        = link_to edit_platform_path(svc) do
                          = material_icon('edit')
                          attributes
                      %li
                        = link_to platform_path(svc) do
                          = material_icon('edit')
                          settings
                      %li.parent{ class: 'open'}
                        = link_to platform_scores_path(svc) do
                          = material_icon('swap-vertical')
                          scoring
                        %ul.sub-menu
                          - Vector.all.each do |v|
                            %li
                              = link_to platform_score_path(platform_id: svc.id, id: v.id) do
                                = material_icon(v.icon)
                                = v.name
            %li.parent{ class: ('open' if controller_name.eql?('scores') )}
              = link_to do
                = material_icon("swap-vertical")
                Scores
              %ul.sub-menu
                %li.parent{ class: ('open' if controller_name.eql?('scores') )}
                  = link_to do
                    = material_icon("swap-vertical")
                    Platforms
                  %ul.sub-menu


                    - CloakPolicy::Platform.all.each do |svc|
                      %li.parent{ class: ('open' if svc.id.to_s.eql?(params[:platform_id]))}
                        = link_to svc do
                          = material_icon(svc.icon)
                          = svc.name
                        %ul.sub-menu
                          - Vector.all.each do |v|
                            %li
                              = link_to platform_score_path(platform_id: svc.id, id: v.id) do
                                = material_icon(v.icon)
                                = v.name
