.be-left-sidebar
  .left-sidebar-wrapper
    .left-sidebar-spacer
      .left-sidebar-scroll
        .left-sidebar-content
          %ul.sidebar-elements
            %li.divider
              %br
              Admin Menu
              = material_icon('chevron-down')
            %li.parent
              = link_to do
                = material_icon("album")
                %span Configuration
              %ul.sub-menu
                %li{class: (current_page?(controller: "profiles") ? "active" : "") }
                  = link_to profiles_path, class: "active"  do
                    = material_icon("folder-outline")
                    Profiles
                %li{class: (current_page?(controller: "preferences") ? "active" : "") }
                  = link_to preferences_path, class: "active" do
                    = material_icon("album")
                    Preferences
                %li.parent{ class: ('open' if controller_name.eql?('vectors') )}
                  = link_to  do
                    = material_icon("apps")
                    %span Vectors
                  %ul.sub-menu
                    %li
                      = link_to vectors_path do
                        = material_icon('album')
                        'Vectors'
                    %li
                      = link_to new_vector_path do
                        = material_icon('open-in-new')
                        'New vector'

            %li{class: (current_page?(controller: "recommendations") ? "active" : "") }
              = link_to(recommendations_path, class: "active" ) do
                = material_icon("album")
                Recommendations
            %li{class: (current_page?(controller: "extension_errors") ? "active" : "") }
              = link_to(extension_errors_path, class: "active" ) do
                = material_icon("album")
                Extension Errors
            %li{class: (current_page?(controller: "feedbacks") ? "active" : "") }
              = link_to(feedbacks_path, class: "active" ) do
                = material_icon("album")
                Uninstall feedback
            %li.parent{ class: ('open' if controller_name.eql?('platforms') )}
              = link_to platforms_path do
                = material_icon("share")
                %span Platforms
              %ul.sub-menu

                - CloakPolicy::Platform.all.each do |svc|
                  %li.parent{ class: ('open' if svc.id.to_s.eql?(params[:id]))}
                    = link_to [:admin, svc] do
                      = material_icon(svc.icon, '', icon_color(svc))
                      = svc.name
                    %ul.sub-menu
                      %li
                        = link_to edit_platform_path(svc) do
                          = material_icon('edit')
                          attributes
                      %li
                        = link_to platform_path(svc) do
                          = material_icon('edit')
                          settings
                      %li.parent{ class: 'open'}
                        = link_to platform_scores_path(svc) do
                          = material_icon('swap-vertical')
                          scoring
                        %ul.sub-menu
                          - Vector.all.each do |v|
                            %li
                              = link_to platform_score_path(platform_id: svc.id, id: v.id) do
                                = material_icon(v.icon)
                                = v.name
            %li.parent{ class: ('open' if controller_name.eql?('scores') )}
              = link_to do
                = material_icon("swap-vertical")
                Scores
              %ul.sub-menu
                %li.parent{ class: ('open' if controller_name.eql?('scores') )}
                  = link_to do
                    = material_icon("swap-vertical")
                    Platforms
                  %ul.sub-menu


                    - CloakPolicy::Platform.all.each do |svc|
                      %li.parent{ class: ('open' if svc.id.to_s.eql?(params[:platform_id]))}
                        = link_to [:admin, svc] do
                          = material_icon(svc.icon)
                          = svc.name
                        %ul.sub-menu
                          - Vector.all.each do |v|
                            %li
                              = link_to platform_score_path(platform_id: svc.id, id: v.id) do
                                = material_icon(v.icon)
                                = v.name
                %li{class: (current_page?(controller: "preferences") ? "active" : "") }
                  = link_to(preferences_path, class: "active" ) do
                    = material_icon("album")
                    Preferences

