.card-header
  %ul.nav.nav-tabs
    %li.nav-item
      = link_to 'Profile', @use_case.profile, class: "nav-link"
    %li.nav-item
.card-body
  .card-title
    Edit Use Case for Profile:
    = link_to @use_case.profile.name, @use_case.profile
  .card-deck
    .card
      .card-header.card-header-divider
        Attributes
      .card-body
        = render 'form'
    .card
      .card-header.card-header-divider
        Preferences
      .card-body

        = form_for @use_case do |f|
          = collection_check_boxes :use_case, :preference_ids, Preference.all, :id, :name do |cb|
            .custom-control.custom-checkbox
              = cb.check_box class: 'custom-control-input'
              = cb.label class: 'custom-control-label custom-control-color' do
                = cb.text
          .card-footer
            = f.submit 'Update Preferences', class: "btn btn-primary btn-lg"
    .card
      .card-header
        Default recommendation
        - if @use_case.default_recommendation
          |
          = link_to 'view', @use_case.default_recommendation
      .card-body
        = render 'default_recommendation',  housable: @use_case
  = help_for('configuration.help.use_case')








