= form_for @chosen do |f|
  - if @chosen.errors.any?
    #error_explanation
      %h2= "#{pluralize(@chosen.errors.count, "error")} prohibited this chosen from being saved:"
      %ul
        - @chosen.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :choice_id
    = f.number_field :choice_id
  .field
    = f.label :recommendation_id
    = f.number_field :recommendation_id
  .field
    = f.label :advice
    = f.text_field :advice
  .actions
    = f.submit 'Save'
