%h1 Listing chosens

%table
  %thead
    %tr
      %th Choice
      %th Recommendation
      %th Setting
      %th Recommendable
      %th
      %th
      %th

  %tbody
    - @chosens.each do |chosen|
      %tr
        %td= chosen.choice_id
        %td= chosen.recommendation_id
        %td= chosen.setting_id
        %td= chosen.recommendable
        %td= link_to 'Show', chosen
        %td= link_to 'Edit', edit_chosen_path(chosen)
        %td= link_to 'Destroy', chosen, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Chosen', new_chosen_path
