%p#notice= notice

%p
  %b Choice:
  = @chosen.choice_id
%p
  %b Recommendation:
  = @chosen.recommendation_id
%p
  %b Setting:
  = @chosen.setting_id
%p
  %b Recommendable:
  = @chosen.recommendable

= link_to 'Edit', edit_chosen_path(@chosen)
\|
= link_to 'Back', chosens_path
