.row
  .col-sm-11
    .accordion.accordion-color{ id: "accordion-setting-#{setting.id}" }
      .card
        .card-header{ class: accordion_class(setting), id: "setting-header-#{setting.id}" }
          %button.btn{"aria-controls" => "#collapse-setting-#{setting.id}", "aria-expanded" => "false", "data-target" => "#collapse-setting-#{setting.id}", "data-toggle" => "collapse"}
            .row
              .col
                = material_icon(setting.platform.icon)
                = setting.name ? setting.name : "New #{setting.platform.name.capitalize} setting:"
              .col.text-right
                - setting.vectors.each do |v|
                  = link_to v.name, [:admin, v]
  .col-sm-1
    .card-header
      .setting-grabber.grabbable
        = material_icon("arrows", "lg")
