.row
  .col-sm-11
    .accordion.accordion-color{ id: "accordion-setting-#{setting.id}" }
      .card{class: accordion_class(setting)}
        .card-header{  id: "setting-header-#{setting.id}" }
          %button.btn{class: 'text-white', "aria-controls" => "#collapse-setting-#{setting.id}", "aria-expanded" => "false", "data-target" => "#collapse-setting-#{setting.id}", "data-toggle" => "collapse"}
            .col
              = material_icon(setting.platform.icon)
              = setting.name ? setting.name : "New #{setting.platform.name.capitalize} setting:"
              -# .col-2.text-right
                - setting.vectors.each do |v|
                  = link_to v.name, v
  .col-sm-1
    .card-body
      .setting-grabber.grabbable
        = material_icon("arrows", "lg")
