= form_for @setting do |f|
  - if @setting.errors.any?
    #error_explanation
      %h2= "#{pluralize(@setting.errors.count, "error")} prohibited this setting from being saved:"
      %ul
        - @setting.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :edit_url
    = f.text_field :edit_url
  .field
    = f.label :platform_id
    = f.number_field :platform_id
  .field
    = f.label :row_order
    = f.number_field :row_order
  .field
    = f.label :recommendable
    = f.check_box :recommendable
  .field
    = f.label :they_say
    = f.text_field :they_say
  .field
    = f.label :we_say
    = f.text_field :we_say
  .actions
    = f.submit 'Save'
