.div{ class: 'item', id: "setting-#{setting.id}", data: { 'item-id': setting.id} }
  = render 'cloak_policy/settings/accordion', setting: setting
  - i = defined?(setting_iteration) ? setting_iteration.index : 0
  .collapse.multi-collapse{ class: ('show' if i.eql?(0)), id: "collapse-setting-#{setting.id}", "aria-labelledby" => "#setting-header-#{setting.id}", "data-parent" => "#accordion-setting-#{setting.id}"}
    .card.border-0
      .card-body
        %dl.row
          %dt.col-sm-3
            Name
          %dt.col-sm-3
            = material_icon setting.platform.icon
            = setting.platform.name + " description"
          %dt.col-sm-3
            = image_tag('cloak_policy/extension_icons/16.png', size: '10')
            Recall description
        %dl.row
          %dd.col-sm-3
            = setting.name
          %dd.col-sm-3
            = setting.they_say
          %dd.col-sm-3
            = setting.we_say
          %dd.col-sm-2
            .row
              .col
                = recommendable_link_for(setting)
              .col
                = link_to edit_setting_path(setting), remote: true do
                  = material_icon("edit")
              .col
                = link_to setting, method: :delete, data: { confirm: 'Are you sure?' } do
                  = material_icon("delete")


        -# = render 'cloak_policy/settings/choices', setting: setting
