.tab-pane.active{ id: "activations", "aria-labelledby" => "#activations-tab", :role => "tabpanel"}
  %h3 Platforms
  %hr
  %br
  = simple_form_for recommendation do |f|
    = f.collection_check_boxes(:platform_ids, Platform.recommendable, :id, :name) do |checkbox|
      .row
        .col-2
          .form-group
            .form-check
              .custom-control.custom-checkbox.custom-control-inline
                = checkbox.check_box class: 'custom-control-input'
                = checkbox.label class: 'custom-control-label custom-control-color' do
                  = material_icon(checkbox.object.icon, 'lg')
                  = checkbox.text
        .col-2
          - if recommendation.recommends?(checkbox.object)
            = launch_btn(recommendation.id, {svc_id: checkbox.object.id, text: 'Launch', html_class: "btn btn-primary btn-block"})
          - else
            = link_to "https://chrome.google.com/webstore/detail/recall-privacy-extension/ioieoedgkhlfcolmeglbioooehgmdjje", class: 'btn btn-primary btn-lg' do

              Please install extension
    = f.submit 'Update Platforms', class: "btn btn-primary btn-lg"

