.tab-pane{ id: "attributes", "aria-labelledby" => "#attributes-tab", :role => "tabpanel"}
  %h3 Attributes
  %hr
  %br
  = simple_form_for recommendation do |f|
    = f.error_notification
    = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
    .row
      .col-4
        = f.input :name
        = f.input :housable
      .col-4
        = f.input :benefit, input_html: { rows: 5 }
        - if recommendation.benefit?
          .container
            = markdown(recommendation.benefit)
      .col-4
        = f.input :description, as: :text, input_html: { rows: 5 }
        = f.submit 'Update', class: "btn btn-primary btn-block"
