%tr
  %td= vector.child_settings.count
  %td
    = link_to material_icon(vector.icon, 'lg') + " " +  vector.full_name, vector
  %td
    = vector.description
  %td
    = link_to "New subvector", new_vector_path(id: vector.id)
  %td
    = link_to 'Edit', edit_vector_path(vector)
  %td
    = link_to 'Destroy', vector, method: :delete, data: { confirm: 'Are you sure?'}
- vector.subvectors.each do |v|
  = render 'vector', vector: v
  

