.card-header.card-header-divider
  %h3
    = @vector.icon
    = material_icon(@vector.icon)
    = @vector.full_name
    .row
    = link_to @vector.parent.name, @vector.parent unless @vector.parent_id.nil?
.card-body
  - @vector.subvectors.each do |sv|
    .row
      .col-2= link_to sv.name, sv
      .col-3
        = render 'score', scorable: sv, vector: @vector

  - @vector.all_settings.each do |s|
    = link_to s.platform do
      = material_icon(s.platform.icon)
      = s.name
