
%dl.row
  %dt.col-sm-2
    = form_with scope: :chosen, url: chosens_url, method: :post, remote: true, id: "choice-#{choice.id}" do |form|
      = form.hidden_field :choice_id, value: choice.id
      = form.hidden_field :recommendation_id, value: recommendation.id
      - checked = recommendation.choice_for(setting).eql?(choice) ? 'checked' : ''
      = form.radio_button :choice_ids, choice.id, options = { multiple: true, checked: checked, data: {remote: true, method: :post, url: chosens_url( chosen: { recommendation_id: recommendation.id, choice_id: choice.id, recommendable: true} )}}
      = form.label choice.name
  %dd.col-sm-3
    = form_with model: choice, remote: true do |form|
      = form.hidden_field :recommendation_id, value: recommendation.id
      .form-group
        = form.text_area :they_say, rows: 4, class: "form-control"
        = form.submit "Update Choice They Say", class: "btn btn-primary btn-block"
  %dd.col-sm-3
    = form_with model: choice, remote: true do |form|
      = form.hidden_field :recommendation_id, value: recommendation.id
      .form-group
        = form.text_area :we_say, rows: 4, class: "form-control"
        = form.submit "Update Choice We Say", class: "btn btn-primary btn-block"
  %dd.col-sm-4
    = form_with scope: :chosen, url: chosens_url, method: :post, remote: true, id: "choice-#{choice.id}" do |form|
      = form.hidden_field :choice_id, value: choice.id
      = form.hidden_field :recommendation_id, value: recommendation.id

      .form-group
        = form.text_area :advice, value: advice_for(recommendation, choice), rows: 4, class: "form-control"
        = form.submit "Save advice", class: "btn btn-primary btn-block"

