= form_with mnodel: @recommendation do |f|
  - if @recommendation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recommendation.errors.count, "error")} prohibited this recommendation from being saved:"
      %ul
        - @recommendation.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :description
    = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :recommender_id
    = f.number_field :recommender_id, class: 'form-control'
  .actions
    = f.submit  class: "btn btn-primary"
