.card-body
  .card.card-table
    %table.table.table-striped
      %thead
        %tr
          %th House
          %th Name
          %th Description
          %th Profile
          %th Use case
      %tbody
        - recommendations.each do |rec|
          %tr
            %td= rec.housable
            %td= link_to rec.name, [:admin, rec]
            %td= rec.description
            %td= link_to_clone(rec)
            %td= link_to_destroy(rec)

