%h1 Listing recommendations

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Recommender
      %th
      %th
      %th

  %tbody
    - @recommendations.each do |recommendation|
      %tr
        %td= recommendation.name
        %td= recommendation.description
        %td= recommendation.recommender_id
        %td= link_to 'Show', recommendation
        %td= link_to 'Edit', edit_recommendation_path(recommendation)
        %td= link_to 'Destroy', recommendation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Recommendation', new_recommendation_path
