.card-header
  %h3= @recommendation.name.capitalize
  .row
  Profile:
  = @recommendation.profile.name
  .row
  Use case:
  = @recommendation.use_case.name
  .card-subtitle= @recommendation.description
.card-body
  %ul#platforms.nav.nav-tabs{:role => "tablist"}
    - @recommendation.platforms.each do |svc|
      %li.nav-item
        = link_to material_icon(svc.icon, '2x'), recommendation_platform_path(recommendation_id: @recommendation.id, id: svc.id), class: 'nav-link'
    %li.nav-item
      %a.nav-link{ id: "attributes-tab", "aria-controls" => "attributes", "aria-selected" => "false", "data-toggle" => "tab", :href => "#attributes", :role => "tab"}
        Attributes
    %li.nav-item
      %a.nav-link{ id: "preferences-tab", "aria-selected" => "false", "data-toggle" => "tab", :href => "#preferences", :role => "tab"}
        Preferences
    %li.nav-item
      %a.nav-link.active{ id: "activations-tab", "aria-selected" => "false", "data-toggle" => "tab", :href => "#activations", :role => "tab"}
        Activations
    %li.nav-item
      %a.nav-link{ id: "scoring-tab", "aria-selected" => "false", "data-toggle" => "tab", :href => "#scoring", :role => "tab"}
        Scoring

  #platformsContent.tab-content
    = render partial: 'admin/recommendations/manage/attributes_tab', locals: { recommendation: @recommendation}
    = render partial: 'admin/recommendations/manage/preferences_tab', locals: { recommendation: @recommendation}
    = render partial: 'admin/recommendations/manage/activations_tab', locals: { recommendation: @recommendation}
    .tab-pane{ id: "scoring", "aria-labelledby" => "#scoring-tab", :role => "tabpanel"}

      = render partial: 'admin/recommendations/manage/scoring_tab', locals: { recommendation: @recommendation}
