.card-header
  %ul#platforms.nav.nav-tabs{:role => "tablist"}
    - @platforms.each do |platform|
      %li.nav-item
        = link_to_unless_current material_icon(platform.icon), platform, class: 'nav-link'
.card-body
  .row
    .container-fluid
      %br
      %br
      %br
      .row
        .col-sm-1
          %em Name
        .col-sm-11
          %em description
      .row
      %hr
      - @platforms.each do |platform|

        .row
          .col-sm-1
            = link_to platform.name, platform
          .col-sm-9
            = platform.description
          .col-sm-1
            = link_to 'Edit', edit_platform_path(platform)
          .col-sm-1
            = link_to 'Destroy', platform, method: :delete, data: { confirm: 'Are you sure?' }
        %br
        .row
          .col-sm-1
        %br
        %hr
