!!!
%html{:lang => "en"}
  %head
    %title= title
    = render 'head'
  %body{'data-environment' => Rails.env}
    .container
      = render 'messages'
      .row
        .nav.navbar
          %ul.nav
            %li.nav-item
              = active_link_to 'Platforms', platforms_path
            %li.nav-item
              = active_link_to 'Vectors', vectors_path
            %li.nav-item
              = active_link_to 'Recommendations', recommendations_path  
      .row
        .col-12
          = yield
