!!!
%html{:lang => "en"}
  %head
    %title= title
    = render 'head'
  %body{'data-environment' => Rails.env}
    .container
      .row
        = render 'messages'
      .row
        .col-2
          %ul.nav.flex-column
            %li.nav-item
              = active_link_to 'Platforms', platforms_path
            %li.nav-item
              = active_link_to 'Scores', scores_path
        .col-10
          .card
            = yield
