!!!
%html{:lang => "en"}
  %head
    = render 'head'
  %body{'data-environment' => Rails.env}
    .be-wrapper
      = render 'navbar'
      .be-fixed-sidebar
        = render 'sidebar'

      .be-content

        .main-content.container-fluid
          = render 'messages'
          .row
            .col-md-12
              .card
                = yield
