!!!
%html{:lang => "en"}
  %head
    %title= title
    = csrf_meta_tags
    = csp_meta_tag
    = render 'meta_tags'
    = stylesheet_link_tag    'cloak_policy/application', media: 'all', 'data-turbolinks-track': 'reload'
  %body{'data-environment' => Rails.env}
    .be-wrapper
      = render 'navbar'
      .be-fixed-sidebar
        = render 'sidebar'

      .be-content

        .main-content.container-fluid
          = render 'messages'
          .row
            .col-md-12
              .card
                = yield
