-# - score = scorable.scores.find_by(vector_id: vector.id)
- score = Score.where(vector_id: vector.id, scorable: scorable).first
- if score
  .row
    .col-9
      = form_with model: score, url: score_path(id: score.id) do |f|
        = f.number_field :points, class: 'form-control'
    .col-1
      = link_to [:admin, score], method: :delete, data: { confirm: 'Are you sure?' } do
        = material_icon("delete", "", "red")
- else
  = form_with model: Score.new, url: scores_path do |f|
    = f.hidden_field :scorable_type, value: scorable.class.name
    = f.hidden_field :scorable_id, value: scorable.id
    = f.hidden_field :vector_id, value: vector.id
    = f.submit "Score it", class: 'btn btn-primary'