.card
  .card-header
    %h1
      Edit Preference:
      = @preference.name
  .card-body
    .row
      .col-6
        = render 'form'
      .col-6
        .card
          .card-header
            Vectors
          .card-body
            - @preference.scores.each do |score|
              = form_with model: score, class: 'form-inline' do |f|
                .col
                  = f.label score.vector.name, class: 'form-label'
                .col
                  = f.number_field :points, class: 'form-control'



