.card.card-table
  .card-body

    %table.table.table-striped
      %thead
        %tr
          %th Icon
          %th Name
          %th Description
          %th
          %th

      %tbody
        - @preferences.each do |preference|
          %tr
            %td= material_icon(preference.icon)
            %td= link_to preference.name, [:admin, preference]
            %td= preference.description
            %td= link_to 'Edit', edit_admin_preference_path(preference)
            %td= link_to 'Destroy', [:admin, preference], method: :delete, data: { confirm: 'Are you sure?' }

    = link_to 'New preference', new_admin_preference_path
