= form_with model: choice, url: choice, setting_id: choice.setting.id do |f|
  = f.hidden_field :setting_id, value: choice.setting.id

  .row
    .col-sm-4.form-group
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .col-sm-4.form-group
      = f.label :they_say
      = f.text_area :they_say, class: 'form-control'
    .col-sm-4.form-group
      = f.label :we_say
      = f.text_area :we_say, class: 'form-control'
  .row
    .col-sm-4.form-group
      = f.label :value
      = f.text_field :value, class: 'form-control'
  .row
    .col-sm-4.form-group
      .row
        .col
          = f.submit class: "btn btn-primary"
        .col.text-right
          = link_to 'cancel', choice.setting, remote: true
      .row




