%p#notice= notice

%p
  %b Name:
  = @choice.name
%p
  %b Setting:
  = @choice.setting_id
%p
  %b Description:
  = @choice.description
%p
  %b Dom locator:
  = @choice.dom_locator
%p
  %b Edit url:
  = @choice.edit_url
%p
  %b We say:
  = @choice.we_say
%p
  %b They say:
  = @choice.they_say
%p
  %b Fqurl:
  = @choice.fqurl

= link_to 'Edit', edit_choice_path(@choice)
\|
= link_to 'Back', choices_path
