%p#notice= notice

%p
  %b Name:
  = @choice.name
%p
  %b Setting:
  = @choice.setting_id
%p
  %b We say:
  = @choice.we_say
%p
  %b They say:
  = @choice.they_say
%p
  %b Recommendable:
  = @choice.recommendable
%p
  %b Development recommendation:
  = @choice.development_recommendation_id

= link_to 'Edit', edit_choice_path(@choice)
\|
= link_to 'Back', choices_path
