%p#notice= notice

%p
  %b Use case:
  = @preferences_use_case.use_case_id
%p
  %b Preferece:
  = @preferences_use_case.preferece_id

= link_to 'Edit', edit_preferences_use_case_path(@preferences_use_case)
\|
= link_to 'Back', preferences_use_cases_path
