%title= title
= csrf_meta_tags
= csp_meta_tag
= render 'meta_tags'
= favicon_link_tag "extension_icons/48.png"
= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'