.card-body
  .row
    .col-6
      .card.card-table
        .card-header
          %h2 My invitations
        .card-body
          %table.table
            %thead
              %tr
                %th email address
                %th status
            %tbody
              - @pack.each do |invitation|
                %tr
                  %th= invitation.email
                  %th= invitation.created_at
    .col-6
      .card
        .card-header
          %h2= t "devise.invitations.new.header"
        .card-body
          = simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post} do |f|
            = devise_error_messages!
            - resource.class.invite_key_fields.each do |field|
              = f.input field
            = f.button :submit, t("devise.invitations.new.submit_button"), class: 'btn btn-primary btn-block'

