= simple_form_for([:admin, @profile]) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.hidden_field :parent_id, value: @profile.try(:parent_id)

    = f.input :name
    = f.input :icon
    = f.input :description, as: :text


  .form-actions
    = f.button :submit, class: "btn btn-primary"
