.card-header
  %h3 Configuration Profiles

.card-body

  %table.table.table-striped
    %thead
      %tr
        %th{:scope => "col"} Icon
        %th{:scope => "col-3"} Profile Name
        %th{:scope => "col"} Description

    %tbody
      - @profiles.each do |profile|
        %tr
          %td{scope: 'col'}= material_icon(profile.icon)
          %td{scope: 'col-3'}= link_to profile.name, admin_profile_path(profile)
          %td{scope: 'col'}= profile.description
          %td{scope: 'col'}= link_to 'Edit', edit_profile_path(profile)
          %td{scope: 'col'}= link_to 'Destroy', admin_profile_path(profile), method: :delete, data: { confirm: 'Are you sure?' }
  = link_to 'New profile', new_profile_path
  .card-footer
    -# = help_for('configuration.help.profiles')
