.card-header
  %ul.nav.nav-tabs
    %li.nav-item
      = link_to 'Profiles', profiles_path, class: "nav-link active"
.card-body
  .card-title
    Profile:
    = @profile.name
  .card-deck
    .card
      .card-header.card-header-divider
        Use Cases for
        = @profile.name
      .card-body
        %table.table.table-striped
          %thead
            %tr
              %th Icon
              %th Name
              %th Description
              %th
              %th
          %tbody
            - @profile.use_cases.each do |use_case|
              %tr
                %td= material_icon(use_case.icon)
                %td= link_to use_case.name, edit_use_case_path(use_case)

                %td= use_case.description
                %td= link_to 'Edit', edit_use_case_path(use_case)
                %td= link_to 'Destroy', use_case_url(use_case), method: :delete, data: { confirm: 'Are you sure?' }
    .card
      .card-header.card-header-divider
        New Use Case
      .card-body
        = simple_form_for([:admin, @profile]) do |f|
          = f.error_notification
          = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

          .form-inputs
            = f.simple_fields_for :use_cases, @profile.use_cases.new do |uc|
              = uc.input :name
              = uc.input :icon
              = uc.input :description, as: :text
          .form-actions
            = f.submit 'Create Use Case', class: "btn btn-primary"


  = help_for('configuration.help.profile')



