%li.nav-item.dropdown
  %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
    = material_icon("account")
  .dropdown-menu.be-connections{:role => "menu"}
    .card
      .card-header
        = current_user.email
      .card-body
        = link_to dashboard_path, class: "dropdown-item" do
          = material_icon("settings")
          Dashboard
        = link_to edit_user_registration_path, class: "dropdown-item" do
          = material_icon("face")
          My account
      .card-footer
        = link_to destroy_user_session_path, class: "dropdown-item", method: :delete do
          = material_icon("power")

          Logout #{current_user.email}

